

/* Hasta Aquí va la Nav*/


.main{
  margin-top: 7rem;
  display: flex;
  background-color: #EAF4F4;
  flex-wrap: wrap;

}
.main{
  margin-left: 30px;
}

.imgojos{
  width: 1200px;
  height: 139px;
}
.pasosAgendamento{
  margin-top: 20px;
  display: flex;

}
.tiendaRelogAgenda{
  margin-top: 50px;
  margin-bottom: 50px;
  width: 400px;
  height: 130px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;


}
.pasosAgendamento{

  flex-wrap: wrap;

}

.numeros{
  font-size: 80px;
  font-family: overpass ;
  color: #1D3557;
  margin-top: 40px;

}

.textoPasos{
  margin-left: 20px;
  margin-top: 25px;
}
.agendamientoo{
  display: flex;
  flex-direction: column;
}
.reprogramarCita{
  margin-top: 20px;
  margin-left: 18px;
  background-color: #1D3557;
  padding: 20px;
  border: none ;
  font-family: overpass;
  margin-bottom: 50px;
  color: white;
}
.contenido{
  width: 1195px;
  height: 106px;

  margin-top: 4px;
  border: none;
  padding: 10px;
  font-family: overpass;

}
.botonesDcT {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.dropdown-wrapper {
  flex: 1;
  min-width: 200px;
}
.btn-group {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}
.agendarCita {
  display: flex;
  align-items: end;

}
.agendarCita button{
  width: 150px;
  height: 36px;
  background-color: #6B9080;
  color: white;
  border-radius: 5px;
}


h2{
  margin-top: 40px;
  margin-left: 14px;
}

.boton{
  display: block;
}
.calendario{
  flex-direction: column;

}
.calendario input{
  background-color: #6B9080;
  color: white;
}
input{
  padding: 10px;
  font-size: 16px;
  border: 0px solid color(#6B9080); /* Borde del campo */
  border-radius: 5px; /* Bordes redondeados */
   /* Color del texto */
  width: 150px;
  height: 36px;
}
.btn-group button{
  border: #6B9080;
  background-color: #6B9080;
}

@media (max-width:1215px) {
  .imgojos{
      max-width: 700px;
      margin: 0px;}


  h2{

      font-size: 20px;

  }

  .contenido{
      border-color: none;
      max-width: 900px;
      height: 200px;
      margin: 0px;
      /* flex-wrap:wrap-reverse ; */
  }
  .pasosAgendamento{
      flex-wrap: wrap;
  }

}

.pointer{

  cursor: pointer;

}
@media (max-width:750px) {
  .pasosAgendamento{

      flex-direction: column;
  }
  .botonesDcT{
      flex-direction: column;

  }
  .contenido{
      max-width: 400px;
      height: 230px;
      min-width: 400px;
      margin: 0px;
      /* flex-wrap:wrap-reverse ; */
  }

}
@media (max-width:400px) {
  .contenido{
      max-width: 380px;
  }
  .botonesDcT{
      width: 100%;
  }
}


.cantidad{
  width: 95px;
  height: 27px;
}
.añadirAlCarro{
  background-color: rgb(221, 69, 69);
  border: none ;
}
.descripcion{
  margin-top: 50px;
  width: 950px;
  height: 149px;
  display: flex;
  justify-content: center;
  gap: 10px;
 border: 1px solid black;
 align-items: center;
 border-radius: 10px;
 margin-left: 157px;
 padding: 10px;
}
p{
  font-size: 16px;
}


.imgEscudoLogo{
  margin-top: 40px;
  margin-bottom: 30px;
  width: 200px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgEscudoLogo img{
  width: 40px;
}
.botones{
  margin-left: 31px;

}
.cantidad{
  letter-spacing: 8px;
  color: black;
}
.añadirAlCarro{
  color: white;
}

footer{
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  margin-top: 50px;
  display: flex;
  background-color:#CCE3DE;
}



