
<div class=" m-5 d-flex flex-column align-items-center text-center">

  <!-- <h2 mat-dialog-title>Cita Agendada</h2> -->
  <mat-dialog-content>
    <!-- Información cita: -->

    @if (data) {

      <h2 mat-dialog-title> ¡Gracias {{ data.nombreCompleto }} por agendar tu cita con nosotros!</h2>
      <!-- <p>Email {{ data.email }}</p> -->

<cite title="Source Title" > Aquí están los datos de tu cita:</cite> <br>
      <p>Ciudad: {{ data.ciudad }}</p>
      <p>Tienda: {{ data.tienda }}</p>
      <p>Tipo de Cita: {{ data.tipoDeCita }}</p>
      <p>Especialista: {{ data.especialista }}</p>
      <p>Fecha: {{ data.fecha }}</p>

      <footer class="blockquote-footer mt-4">
        No olvides llegar 20 minutos antes de tu cita
        <cite title="Source Title">¡Te esperamos!</cite>
      </footer>

    }

  </mat-dialog-content>

</div>
