<div class="  ">
    <h2 class="tituloPromociones  justify-content-center">       PROMOCIONES</h2>
  </div>




<!-- <div class="card" style="width: 18rem;">
  <img src="promocionUno.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Gafas de Sol Seen SNSF0021 Unisex Color Rosado <br>
      SKU 1767620 · Género Unisex <br>
      $319.000 </p>
  </div>
</div> -->


  <div class="imagenesPromocion">
    <div class="promocionUno">
      <p class="descuento">50% Dcto</p>
      <a routerLink="/descripcionproducto">
        <img src="promocionUno.jpg" alt="Promoción Uno" />
      </a>
      <div class="textoPromocion">
        <p>Gafas de Sol Seen SNSF0021 Unisex Color Rosado</p>
        <p>SKU 1767620 · Género Unisex</p>
        <h3>$319.000</h3>
      </div>
    </div>

    <div class="promocionDos">
      <p class="descuento">60% Dcto</p>
      <a routerLink="/descripcionproducto">
        <img src="promocionDos.jpeg" alt="Promoción Dos" />
      </a>
      <div class="textoPromocion">
        <p>Gafas de Sol Seen SNSF0021 Unisex Color Rosado</p>
        <p>SKU 1767620 · Género Unisex</p>
        <h3>$199.000</h3>
      </div>
    </div>

    <div class="promocionTres">
      <p class="descuento">45% Dcto</p>
      <a routerLink="/descripcionproducto">
        <img src="promocionTres.jpeg" alt="Promoción Tres" />
      </a>
      <div class="textoPromocion">
        <p>Gafas de Sol Seen SNSM0015 Unisex Color Blanco</p>
        <p>SKU 1767833 · Género Unisex</p>
        <h4>$189.000</h4>
      </div>
    </div>

    <div class="carousel p-5">
      <div class="carousel-track">
        <div class="DosPorUno">
          <img src="promo2.jpg" alt="Imagen promoción" />
        </div>
      </div>

      <div class="promocionDerecha">
        <div class="primeraDerecha">
          <img src="promo1.jpg" alt="Imagen promoción" />
        </div>
      </div>

      <div class="segundaDerecha">
        <img src="promo3.jpg" alt="Imagen promoción" />
      </div>
    </div>
  </div>

