<div class="tituloPromociones">
    <h2>PROMOCIONES</h2>
  </div>

  <div class="contenedorBubble">
    <div class="floating-bubble">
      <i class="bi bi-share-fill"></i>
      <div class="contact">
        <a href="https://web.whatsapp.com/" target="_blank">
          <button class="whatsapp"><i class="bi bi-whatsapp"></i></button>
        </a>
        <a href="https://www.facebook.com/?locale=es_LA" target="_blank">
          <button class="facebook"><i class="bi bi-facebook"></i></button>
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <button class="instagram"><i class="bi bi-instagram"></i></button>
        </a>
      </div>
    </div>
  </div>

  <div class="imagenesPromocion">
    <div class="promocionUno">
      <p class="descuento">50% Dcto</p>
      <a routerLink="/descripcionproducto">
        <img src="assets/imagenes/promocionUno.jpg" alt="Promoción Uno" />
      </a>
      <div class="textoPromocion">
        <p>Gafas de Sol Seen SNSF0021 Unisex Color Rosado</p>
        <p>SKU 1767620 · Género Unisex</p>
        <h3>$319.000</h3>
      </div>
    </div>

    <div class="promocionDos">
      <p class="descuento">60% Dcto</p>
      <a routerLink="/descripcionproducto">
        <img src="assets/imagenes/promocionDos.jpeg" alt="Promoción Dos" />
      </a>
      <div class="textoPromocion">
        <p>Gafas de Sol Seen SNSF0021 Unisex Color Rosado</p>
        <p>SKU 1767620 · Género Unisex</p>
        <h3>$199.000</h3>
      </div>
    </div>

    <div class="promocionTres">
      <p class="descuento">45% Dcto</p>
      <a routerLink="/descripcionproducto">
        <img src="assets/imagenes/promocionTres.jpeg" alt="Promoción Tres" />
      </a>
      <div class="textoPromocion">
        <p>Gafas de Sol Seen SNSM0015 Unisex Color Blanco</p>
        <p>SKU 1767833 · Género Unisex</p>
        <h4>$189.000</h4>
      </div>
    </div>

    <div class="carousel">
      <div class="carousel-track">
        <div class="DosPorUno">
          <img src="assets/imagenes/promo2.jpg" alt="Imagen promoción" />
        </div>
      </div>

      <div class="promocionDerecha">
        <div class="primeraDerecha">
          <img src="assets/imagenes/promo1.jpg" alt="Imagen promoción" />
        </div>
      </div>

      <div class="segundaDerecha">
        <img src="assets/imagenes/promo3.jpg" alt="Imagen promoción" />
      </div>
    </div>
  </div>

