
<div class="  ">
  <h2 class="tituloPromociones  justify-content-center">       PROMOCIONES</h2>
</div>

<div class="tarjeta-promociones">


  @for (item of products; track $index) {


    @if(item.precio < 120000){

        <div class="flex-column">
          <p class="descuento">{{item.descuento}}% Dcto</p>

          <a routerLink="/descripcionproducto">
            <img class="imagenesPromocion" width="400px" src="{{item.img}}" alt="Imagen del producto">
          </a>

          <div class="textoPromocion">
            <p>{{item.descripcion}}</p>
            <p>{{item.marca}}</p>
            <p>{{item.modelo}}</p>
            <h3>{{item.precio}}</h3>
          </div>
        </div>
    }

  }
</div>

    <div class="carousel p-5">
      <div class="carousel-track">
        <div class="DosPorUno">
          <img src="promo2.jpg" alt="Imagen promoción" />
        </div>
      </div>

      <div class="promocionDerecha">
        <div class="primeraDerecha">
          <img src="promo1.jpg" alt="Imagen promoción" />
        </div>
      </div>

      <div class="segundaDerecha">
        <img src="promo3.jpg" alt="Imagen promoción" />
      </div>
    </div>


