<div class="video">
  <video style="max-width: 100%; height: auto;"autoplay loop muted>
    <source src="video.mp4" type="video/mp4">
    Tu navegador no soporta la etiqueta de video.
  </video>
</div>


<div class="marcas">
  <a [routerLink]="['/catalogo']" ><img class="rayBan" src="rayBan.png" alt=""></a>
  <a [routerLink]="['/catalogo']"> <img class="prada" src="prada.png" alt="" ></a>
  <a [routerLink]="['/catalogo']"><img class="vogue" src="vogue.png" alt=""></a>
  <a [routerLink]="['/catalogo']"><img class="polaroid" src="polaroid.png" alt=""></a>
  <a [routerLink]="['/catalogo']"><img class="timberland" src="timberland.png" alt=""></a>
</div>


<div class="accesosDirectos">
  <div class="gafasDeSol">
    <button class="ver" [routerLink]="['/catalogo']">Ver mas</button>
    <a class="verCategoria" [routerLink]="['/catalogo']">GAFAS DE SOL</a>
    <a [routerLink]="['/catalogo']"><img src="gafasDeSol.jpg" alt=""></a>
  </div>
  <div class="accesorios">
    <button class="ver"[routerLink]="['/catalogo']">Ver mas</button>
    <a class="verCategoria" [routerLink]="['/catalogo']">OFTALMOLOGICAS</a>

    <a [routerLink]="['/catalogo']"><img src="accesoriosOptica.jpg" alt=""></a>
  </div>
  <div class="oftalmologicas">
    <a class="verCategoria" [routerLink]="['/catalogo']">MEDICAMENTOS</a>

  <button class="ver">Ver mas</button>
  <a [routerLink]="['/catalogo']"><img src="gafasOftafmologicasl.jpg" alt=""></a>
  </div>
  <div class="lentesDeContacto">
    <a class="verCategoria" [routerLink]="['/catalogo']">LENTES DE CONTACTO</a>
    <button class="ver" [routerLink]="['/catalogo']">Ver mas</button>
    <a [routerLink]="['/catalogo']"><img src="lentesContacto.jpg" alt=""></a>
  </div>
</div>

<a href="./promociones.html">
  <div class="carousel">
    <div class="carousel-track">
        <h2 class="textoImagen" >Descubre todas las promociones que tenemos para ti</h2>
      <img src="carousellmagen.jpg" alt="Imagen 1">
      <img src="carousel2.jpg" alt="Imagen 2">
      <img src="carousel3.jpg" alt="Imagen 3">
    </div>
  </div>
</a>
