.marcas{
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  margin-top: 20px;
  width: 1348px;
}

.marcas img{

  width: 100px;
}
.vogue{
  width: 100px;

  margin-top: 40px;
}
.marcas img:hover{
  
  cursor: pointer;

}



.accesosDirectos{
  display: flex;
  flex-wrap: wrap;

}

.accesosDirectos div {
  position: relative;
  overflow: hidden;
  width: 673px;
  height: 500px;

}

.accesosDirectos img {
  width: 673px;
  height: 500px;
  object-fit: cover;
  transition: 9s ease;
  transform-origin: center center;
}

.accesosDirectos div:hover img {
  transform: scale(1.1);
}


.ver {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #1D3557;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
  opacity: 0,8;
}

.ver:hover {
  background-color: white;
}
.verCategoria{
      text-decoration: none;
      position: absolute;
      bottom: 90px;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      font-size: 25px;
      cursor: pointer;
      z-index: 1;

}

.verCategoria:hover {
  color: #CCE3DE;
}


.carousel-track img {


  width: 1348px;
  height: 100%;
  flex-shrink: 0;

}
.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.carousel-track {
  display: flex;
  animation: slide 20s infinite;
}
@keyframes slide {
  0% {
      transform: translateX(0); /* Posición inicial (primera imagen) */
  }
  29.41% {
      transform: translateX(0); /* Mantiene la imagen*/
  }
  33.33% {
      transform: translateX(-1346px); /* pasa a la siguiente imagen */
  }
  62.74% {
      transform: translateX(-1346px); /* mantiene la imagen */
  }
  66.66% {
      transform: translateX(-2695px); /* pasa a la siguiente imagen */
  }
  96.08% {
      transform: translateX(-2695px); /* mantiene la imagen */
  }
  100% {
      transform: translateX(0); /* Regresar a la primera imagen */
  }
}

