<div class="video">
  <video width="100%"height="100%" autoplay loop muted>
    <source src="video.mp4" type="video/mp4">
    Tu navegador no soporta la etiqueta de video.
  </video>
</div>


<div class="marcas">
  <a ><img class="rayBan" src="rayBan.png" alt=""></a>
  <a > <img class="prada" src="prada.png" alt="" ></a>
  <a ><img class="vogue" src="vogue.png" alt=""></a>
  <a ><img class="polaroid" src="polaroid.png" alt=""></a>
  <a ><img class="timberland" src="timberland.png" alt=""></a>
</div>


<div class="accesosDirectos">
  <div class="gafasDeSol">
    <button class="ver">Ver mas</button>
    <a class="verCategoria" href="">GAFAS DE SOL</a>
    <a href="./catalogo.html"><img src="gafasDeSol.jpg" alt=""></a>
  </div>
  <div class="accesorios">
    <button class="ver">Ver mas</button>
    <a class="verCategoria" href="">OFTALMOLOGICAS</a>

    <a href="./catalogo.html"><img src="accesoriosOptica.jpg" alt=""></a>
  </div>
  <div class="oftalmologicas">
    <a class="verCategoria" href="">MEDICAMENTOS</a>

    <button class="ver">Ver mas</button>
    <a href="./catalogo.html"><img src="gafasOftafmologicasl.jpg" alt=""></a>
  </div>
  <div class="lentesDeContacto">
    <a class="verCategoria" href="">LENTES DE CONTACTO</a>
    <button class="ver">Ver mas</button>
    <a href="./catalogo.html"><img src="lentesContacto.jpg" alt=""></a>
  </div>
</div>

<a href="./promociones.html">
  <div class="carousel">
    <div class="carousel-track">
       <img src="carousellmagen.jpg" alt="Imagen 1">
       <img src="carousel2.jpg" alt="Imagen 2">
       <img src="carousel3.jpg" alt="Imagen 3">
    </div>
  </div>
</a>
