<div class="productos-container" style="display: flex; flex-wrap: wrap; gap: 0;">
  @for (item of products; track $index) {

    <div class="cuadros">
      <div class="card">

        <a [routerLink]="['descripcion', item.id]">
          <img class="imagenesPromocion" width="200px" height="150px" src="{{item.img}}" alt="Imagen del producto">
        </a>

        <div class="textoPromocion">
          <p class="descripcionG">{{item.descripcion}}</p>
          <p class="modelG">{{item.modelo}}</p>
          <h3 class="acomo">{{item.precio}}</h3>
        </div>
      </div>
    </div>
  }
