
<footer>
<div class="terminosYcondiciones">
  <h4>Términos y Condiciones</h4>
  <a href="">Términos y Condiciones tienda Online</a>
  <a href="">Política de Protección de Datos</a>
  <a href="">Estatuto del Consumidor</a>
</div>

<div class="contactanos">
  <h4>Contáctanos</h4>
  <a href="">solucionesvisuales</a>
  <a href="">Formulario de Contacto</a>
  <a href="">Compra por Whatsapp</a>
  <a href="">Nuestras tiendas</a>
</div>

<div class="linkInteres">
  <h4>Link de interés</h4>
  <a href="">Consulta el estado de tu compra AQUÍ</a>
  <a href="">Acerca de Optica solucion visual</a>
  <a href="">Comunicados Optica solucion visual</a>
  <a href="">Convenios</a>
  <a href="">Garantías</a>
</div>
</footer>
