.terminosYcondiciones{
  width: 331px;
  height: 180px;
  display: flex;
  flex-direction: column;

}
footer{
  width: 1348px;

  margin-top: 10px;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  margin-top: 50px;
  display: flex;
  background-color:#CCE3DE;
}
footer a{
  text-decoration: none;
  color:#1D3557;
}
.contactanos{
  width: 331px;
  height: 180px;
  display: flex;
  flex-direction: column;
}
.linkInteres{
  width: 331px;
  height: 180px;
  display: flex;
  flex-direction: column;
}
