.body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 90px;
}

.producto {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.imagenProducto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
}

.imagenProducto img {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
}

.logos {
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logos div {
  display: flex;
  padding-right:140px ;
  align-items:center;
  gap: 10px;
}
.logos p{
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.logos i{
  font-size: 30px;
}

.caracteristicas {
  flex: 1;
  margin-top: 40px;
}

.caracteristicas h2 {
  margin-bottom: 10px;
}

.caracteristicas p, .caracteristicas h5 {
  margin: 5px 0;
}
.descripcion{
  padding-right: 20px;

}
button{
  background-color: #1D3557;
  border: none;
  margin-top: 30px;
  color: white;
  height: 40px;
  border-radius: 4px;
}
button:hover{
  background-color:#A4C3B2;

}
